# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions
requests
azure-communication-email
azure-data-tables
azure-core
azure-storage-blob
six==1.16.0
